<a href="https://colab.research.google.com/github/akshayd1/T-test/blob/main/T_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Types of t-test
**1- One Sample t-test**                                                    
**2- Two Sample t-test**                                                                     
**3- Paired Sample t-test**

# One sample t test

#### What is the one-sample t-test
A one-sample t-test is used to compare a single population to a standard value

**This test is used when we want to check whether the mean of the single population is equal to the targeted value or not.**


**Test statistic,**
$$t = \frac{\bar{x}-\mu}{\frac{s}{\sqrt{n}}}$$   


 
**Notation:-**                                                                                                           
         Î¼ = population mean                                                                   
         n  = sample size                                                                                                
         s= standard deviation

# Assumptions

#### 1.The dependent variable must be continuous (interval/ratio).
#### 2.The observations are independent of one another.
#### 3.The dependent variable should be approximately normally distributed.
#### 4.The dependent variable should not contain any outliers.

**Example-1**                                                                   
The Height of 10 students( in inches ) is given below:                                                                    
63,67,66,68,69,70,70,71,71,65.                                                                                               
Test whether the population mean height is 66 inches or not at 5 % level of Significance.

In [ ]:
## Created the list store the variable height

In [ ]:
x1 = [63,67,66,68,69,70,70,71,71,65]
x1

[63, 67, 66, 68, 69, 70, 70, 71, 71, 65]

We have, population mean (Î¼) = 66                                                              
Sample size (n) = 10                                                                                         
Level of significance = 0.05 or 5 %                                                                         
#### The test statistics is, $$t = \frac{\bar{x}-\mu}{\frac{s}{\sqrt{n}}}$$

## Hypothesis:-

$H_{0}$: The population mean height is 66 inches: 

$H_{0}: \mu$ = $66$.

### V/S

$H_{1}$:  The population mean height is not equal to 66 inches. 

$H_{1}: \mu$ â‰  $66$.

#### Number of observations($n$).

In [ ]:
n = len(x1) ## to get the sample size
n

10

sample mean ($\bar{x}$)
$$\bar{x} = Î£{x}/{n}$$

**Notation:**                                                                                         
Î£{x} = Sum of all  observation.                                                              
    n= Number of oberservation.

In [ ]:
#Calculating the sample mean.
x_bar = sum(x1) /n
print(x_bar)
mu = 66

68.0

The Sample Average height of the Student is 68.00

## Sample Variance($s^2$)
  
  ![image.png]()

In [ ]:
## sample variance (s) = sqrt (Î£ (Xi - x_bar)^2 / n-1 )
sample_var = sum((xi - x_bar)** 2 for xi in x1 )/ (n-1)
sample_var

7.333333333333333

## sample standard deviation.($s$)

In [ ]:
# The sample standard deviation ($s$). Calculate from sample data.
std_dev = sample_var ** 0.5
std_dev

2.70801280154532

### Calculated Value of  Test Statistics

In [ ]:
import math
cal_t = (x_bar - mu) / (std_dev / math.sqrt(n))
print("The value of the calculated test statistcs is\n Cal_t==",cal_t)

The value of the calculated test statistcs is
 Cal_t== 2.3354968324845693

## Degrees of Freedom($df$).

In [ ]:
#df = total number of observations - 1
df = 10-1

## Tabulated t value
The tabulated t value is calculated using t disribution table as follows:                                                   
Tab t = t(n-1 , Î± / 2) degrees of freedom                                                          
we have n = 10 and alpha (Î± ) = 0.05 so, t(10-1 , 0.05 / 2)

scipy.stats.t.ppf(q, df)

where q = significance Level                                                            
df = degrees of freedom

In [ ]:
## Critical value of t ##
import scipy.stats
##hypothesis is two tailed
tab_t = scipy.stats.t.ppf(q=1-.05/2,df=9)
tab_t

2.2621571627409915

## Conclusion:-

In [ ]:
if tab_t > cal_t:
    print("Accept the Null hypothesis:\n" ,"The population mean height is 66 inches")
else:
    print("Reject the Null hypothesis:\n","The population mean height is not equal to 66 inches")

Reject the Null hypothesis:
 The population mean height is not equal to 66 inches

# **Two Sample t-test:-**
This test is used when we want to check whether the mean of two populations is equal to the target population value or not The test statistic is,

two sample t test =

![image.png]()

With (n1 + n2 - 2) degrees of freedom

Que.1
To perform a test of the null and alternative hypothesis shown below,
random samples were selected from the two normally distributed populations with equal variances.
The data are shown below. Test the null hypothesis using an alpha level equal to 0.05.

Ho : Î¼1 -Î¼ 2 = 0

H1 : Î¼ 1-Î¼2 â‰  0

Sample from Population 1 : 32 39 25 32 38 36 27 36 45 39

Sample from Population 2 : 33 45 39 33 31 27 35 37 35 32

Hypothesis:-
H0: Sample mean and Population mean are equal.
H0: Î¼1 = Î¼2

v/s

H1: Sample mean and Population mean are not equal.
H1: Î¼1 â‰  Î¼2

x = [32, 39, 25, 32, 38, 36, 27, 36, 45, 39]                                    
y = [33, 45, 39, 33, 31, 27, 35, 37, 35, 32]

In [ ]:
x = [32, 39, 25, 32, 38, 36, 27, 36, 45, 39]
y = [33, 45, 39, 33, 31, 27, 35, 37, 35, 32]

In [ ]:
# two sample t test = (x1_bar - x2_bar) / (S*(1/n1 + 1/n2)**0.5)
def mean(data):                   # User define function for mean
    n = len(data)                 # Sample size
    return sum(data) / len(data)  # To find the mean
print(mean(x))                    # print mean of x
print(mean(y))                    # print mean of y

34.9
34.7

In [ ]:
import math                       # import math function for using mathematical operation
def variance(data):                        # To find the variance
    mean = sum(data) / len(data)
    n = len(data)
    squ_dev = [(x-mean)**2 for x in data]  
    return sum (squ_dev) / (n-1)           # Sample Variance

In [ ]:
def comb_var(x,y):                        # Combine Variance
    n1 = len(x)                           
    n2 = len(y)                          
    x1_bar = mean(x)                    
    x2_bar = mean(y)                      
    s1 = variance(x)                     
    s2 = variance(y)                     
    return math.sqrt(((n1-1)*s1 + (n2-1)*s2) / (n1+n2-2))

In [ ]:
comb_var(x,y)

5.482294734466176

## Calculating Test Statistic

In [ ]:
def two_sample_t_test(x,y,n1,n2,comb_var): 
    return (x-y)/ (comb_var * math.sqrt(1/n1 + 1/n2)) # To find Two sample t test

In [ ]:
# Calculated Value of t

cal_t1 = two_sample_t_test(34.9,34.7 ,10,10,5.4822)
cal_t1

0.0815755710298691

Tabulated t value
scipy.stats.t.ppf(1-Î±/2, df)

where, Î±/2 = Level of Significance, df = degrees of freedom

In [ ]:
## tabulated value of t

import scipy.stats
tab_t1 = scipy.stats.t.ppf((1-0.05/2),18)
tab_t1

2.10092204024096

## Conclusion:-

In [ ]:
if cal_t1 > tab_t1:
    print("Reject the Null Hypothesis:","\n Sample mean and Population mean are equal")
else:
    print("Accept the Null Hypothesis:","\n Sample mean and Population mean are not equal")

Accept the Null Hypothesis:
 Sample mean and Population mean are not equal

# **Paired t-test:-**                                                     
 A paired sample t-test is used when we have two dependent sample data of the same.
subject i.e. to measure the effect on a particular group before and after the treatment.
This test is used when we have data like pre-post, before â€“After.

The test statistic is,

![image.png]()

where,
dbar = 1/ n sum(di)
di = xi-yi
sd = sqrt(sum (xi-xbar)^2/n-1)

with (n-1) d.f.

# Situation Where its Applicable
During a Clinical Trial, we choose 25 patients and measure their weight before the drug treatment. And again, after the two months, we again measure their weight. By doing so, we can check whether the drug is effective or not.

**Example-1**                                                              
Five students took a math testb before and after tutorial there score where as follows:

**Before** : 71,66,67,77,75                                            
**After** : 75,75,65,80,87

Using 0.01 (1%) LOS test the claim that the tutorial has and effect (the mean differnce is non-zero i.e Î¼d â‰  0.) on the maths Score.

In [ ]:
x = [71,66,67,77,75]                                 
y = [75,75,65,80,87]

## Hypothesis:-
**ð»0** : There is no significance effect of tutoring on Maths test Score.     
ð»0:Î¼d= 0.

V/S
ð»1 :-There is significance effect of tutoring on Maths test Score.            
**ð»1**:Î¼d â‰  0.

Calculating the mean and standard deviation of the differences gives

In [ ]:
di = [x - y for (x,y) in zip (x,y)]

In [ ]:
#User Defind Function for mean
def mean(data):
    n = len(data)
    return sum(data) / float(n)

In [ ]:
mean(di)

-5.2

In [ ]:
#User Defind Function for variance
def variance(data):
    mean = sum(data) / len(data)
    n = len(data)
    squ_dev = [(x-mean) ** 2 for x in data]
    return sum (squ_dev) / (n-1)

In [ ]:
std = variance(di) ** 0.5
std

5.449770637375485

Now, Calculate The Corresponding Test Statistic                             
![image.png]()

In [ ]:
def paired_t_test(data):
    d_bar = mean(data)
    std = variance(di) ** 0.5
    n = len(data)
    return d_bar / (std / (n ** 0.5))

In [ ]:
## calcuated value of t

cal_t = paired_t_test(di)
abs(cal_t)

2.1335858436417676

## Tabulated Value Of t                                           
scipy.stats.t.ppf(q, df)

where q = significance Level                                        
df = degrees of freedom

In [ ]:
import scipy.stats
tab_t = scipy.stats.t.ppf((1-0.01/2),4)
tab_t

4.604094871415897

## Conclusion:-

In [ ]:
if cal_t > tab_t:
    print("Reject the Null Hypothesis:\n","There is  significance effect of tutoring on Maths test Score")
else:
    print("Accept the Null Hypothesis:\n","There is no significance effect of tutoring on Maths test Score")

Accept the Null Hypothesis:
 There is no significance effect of tutoring on Maths test Score